@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <form data-bind="visible: !isReady(), disable: isLoading" class="form-inline">
            <input data-bind="value: password" type="password" class="form-control" placeholder="password" />
            <button data-bind="click: start" class="btn btn-success">Start</button>
        </form>
        <select data-bind="
    visible: isReady, 
    options: sources, 
    optionsText: function(item) { return item.name; }, 
    optionsCaption: 'Choose a source...',
    value: selectedSource" class="form-control"></select>
    </div>
</div>
<div data-bind="visible: isChatReady" class="row">
    <div class="col-lg-12">
        <ul data-bind="foreach: chatMessages" style="height: 500px" class="chat-list">
            <li>
                <p data-bind="text: sender" class="sender"></p>
                <p data-bind="text: message" class="message"></p>
            </li>
        </ul>
    </div>
</div>
<div data-bind="visible: isChatReady" class="row">
    <div class="col-lg-12">
        <form data-bind="disable: isChatSending, submit: send" class="form-inline">
            <input data-bind="value: newMessage, valueUpdate: 'keypress'" type="text" class="form-control" />
            <button data-bind="click: send, disable: !canBeSent()" type="button" class="btn btn-info">Send</button>
        </form>
    </div>
</div>

@section scripts{
    <script src="~/lib/signalr/jquery.signalR.js"></script>
    <script src="~/lib/knockout/knockout.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/lib/requirejs/require.js" data-main="js/app.js"></script>
}