@{
    ViewBag.Title = "Home Page";
}

<div data-bind="visible: !isReady()" class="row">
    <div class="col-lg-12">
        <form data-bind="disable: isLoading, submit: start" class="form-inline">
            <input data-bind="value: applicationPassword" type="password" class="form-control" placeholder="password" />
            <input type="submit" value="Start" class="btn btn-success" />
        </form>
    </div>
</div>
<div data-bind="visible: isReady" class="row">
    <div class="col-lg-12">
        <select data-bind="
    options: sources,
    optionsText: function(item) { return item.name; },
    optionsCaption: 'Choose a source...',
    value: selectedSource" class="form-control"></select>
    </div>
</div>
<div data-bind="visible: needGameCredential" class="row">
    <div class="col-lg-12">
        <form data-bind="submit: login">
            <input data-bind="value: username, valueUpdate: 'keypress'" type="text" placeholder="username" class="form-control" />
            <input data-bind="value: password, valueUpdate: 'keypress'" type="password" placeholder="password" class="form-control" />
            <input data-bind="disable: username() == null || password() == null" type="submit" value="Log in" class="btn btn-success" />
        </form>
    </div>
</div>
<div data-bind="visible: isChatReady" class="row chat-list">
    <div class="col-lg-12">
        <ul data-bind="foreach: chatMessages">
            <li>
                <p data-bind="css: origin() === 'web' ? 'web' : 'game'" class="sender">
                    <span data-bind="text: sender"></span><span data-bind="text: origin() === 'web' ? ' (web)' : ''"></span>
                </p>
                <p data-bind="text: message" class="message"></p>
            </li>
        </ul>
    </div>
</div>
<div data-bind="visible: isChatReady" class="row new-chat">
    <form data-bind="disable: isChatSending, submit: send">
        <div class="col-lg-11 col-md-10 col-sm-9 col-xs-8">
            <input data-bind="value: newMessage, valueUpdate: 'keypress'" type="text" class="form-control" style="width: 100%" />
        </div>
        <input data-bind="disable: !canBeSent()" type="submit" value="Send" class="btn btn-info col-lg-1 col-md-2 col-sm-3 col-xs-4" />
    </form>
</div>

@section scripts{
    <script src="~/lib/signalr/jquery.signalR.js"></script>
    <script src="~/lib/knockout/knockout.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/lib/requirejs/require.js" data-main="js/app.js"></script>
}